* {
	font-family: Roboto;
	font-size: normal;
	text-decoration: none;
	margin: 0;
	box-sizing: border-box;
}
body{
    height: 100vw;
    width: 100vw;
}
.section-style{
    padding :8rem 0;
    display: flex;
    
}

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px 4.5rem 20px;
    width: 80%;
}
.nav-bar-txt{
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #FFFFFF;
padding: 0 1.5rem;
}
.row{
	display: flex;
	flex-direction: row;
}
.row-centered{
	align-items: center;
}
.first-sec{
    background-image: url("Mask Group.png");
    background-size: cover;
	background-repeat: no-repeat;
    overflow: visible;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-container {
	max-width: 1200px;
	justify-content: center;
	padding: 0 20px;
}
.nav-bar-wrapper{
    justify-content: space-between;
    width: 100%;
    }
#app-logo{
	height: 48px;
	margin-right: 16px;
}
#menu-collapse{
    display: none;
}
.pink-button{
    background: #F44E77;
    border-radius: 20px;
	width: 167px;
    height: 56px;
	font-weight: 600;
	font-size: 1rem;
	line-height: 24px;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	padding: 0px 24px;
	white-space: pre;
}
.left-col{
    width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
    margin-left: 4rem;
    padding:0 5rem 0 8rem ;
}
.title-txt{
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    padding: 1rem 2rem;
}
.small-txt{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #FFFFFF;
padding: 1rem 2rem;
}
.right-col{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
}
.phone-img{
    width: auto;
    height: 45rem;
}
.register-button{
    background: #16194F;
    border-radius: 20px;
	width: 200px;
    height: 54px;
	font-weight: 600;
	font-size: 1rem;
	line-height: 24px;
	color: #DD2F6C;
	border: none;
	cursor: pointer;
	padding: 0px 24px;
	white-space: pre;
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gg-arrow-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px
   }
   
   .gg-arrow-right::after,
   .gg-arrow-right::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 3px
   }
   
   .gg-arrow-right::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 7px
   }
   
   .gg-arrow-right::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor
   } 

.big-blue-txt{
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #554DDE;
    padding: 1rem 2rem;
}
.small-blue-txt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #6A6D9E;
    padding: 1rem 2rem;
}
.credit-card{
    width: auto;
    height: 268px;
    padding-right: 7rem;
}