* {
	font-family: Roboto;
	font-size: normal;
	text-decoration: none;
	margin: 0;
	box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.central-align{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-container {
	max-width: 1440px;
	justify-content: center;
	padding: 0 20px;
}
.section-style{
    padding:6rem 0;
    display: flex;
    background-color: #F2F6FF;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0rem 1.2rem 3rem 1.2rem;
    width: 85%;
}
.nav-bar-txt{
font-style: normal;
font-weight: 400;
font-size: 1.4rem;
line-height: 1.8rem;
color: #FFFFFF;
padding: 0 1.5rem;

}
.row{
	display: flex;
	flex-direction: row;
}
.row-centered{
	align-items: center;
}
.first-sec{
    background-image: url("Mask Group.png");
    background-size: cover;
	background-repeat: no-repeat;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}
.sec-1-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-bar-wrapper{
    justify-content: space-between;
    width: 100%;
    }
#app-logo{
	height: 48px;
	margin-right: 16px;
}
#menu-collapse{
    display: none;
}
.pink-button{
    background: #F44E77;
    border-radius: 20px;
	width: 167px;
    height: 56px;
	font-weight: 600;
	font-size: 1rem;
	line-height: 24px;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	padding: 0px 24px;
	white-space: pre;
}
.left-col{
    width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
    padding:0 5rem 0 8rem ;
}
.title-txt{
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    padding: 1rem 2rem;
}
.small-txt{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #FFFFFF;
padding: 1rem 2rem;
}
.right-col{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.phone-img{
    width: auto;
    height: 45rem;
}
.register-button{
    background: #16194F;
    border-radius: 20px;
	width: 200px;
    height: 54px;
	font-weight: 600;
	font-size: 1rem;
	line-height: 24px;
	color: #DD2F6C;
	border: none;
	cursor: pointer;
	padding: 0px 24px;
	white-space: pre;
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gg-arrow-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
   }
   
   .gg-arrow-right::after,
   .gg-arrow-right::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 3px;
   }
   
   .gg-arrow-right::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 7px;
   }
   
   .gg-arrow-right::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor;
   } 

.big-blue-txt{
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #554DDE;
    padding: 1rem 2rem;
}
.small-blue-txt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #6A6D9E;
    padding: 1rem 2rem;
}
.credit-card{
    width: auto;
    height: 268px;
}
.card-txt{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #000;
padding: 0rem 2rem;
}
.bars-graph{
    width: 350px;
    height: auto;
    padding: 1rem;
}
.small-box{
width: 223px;
height: 180px;
background: #FFFFFF;
border: 0.5px solid #CAD6F1;
box-shadow: 0px 25px 50px rgba(22, 25, 79, 0.05);
border-radius: 50px;
display: flex;
flex-direction: column;
justify-content: center;
margin: 1.5rem;
}

.chart-box{
    width: 463px;
height: 248px;
    background: #FFFFFF;
border: 0.5px solid #CAD6F1;
box-shadow: 0px 25px 50px rgba(22, 25, 79, 0.05);
border-radius: 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 1.5rem;
}
.center-box-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-to-left{
    align-items: baseline;
}
.second-blue-button{
    background: #16194F;
    border-radius: 20px;
	width: 200px;
    height: 54px;
	font-weight: 600;
	font-size: 1rem;
	line-height: 24px;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	padding: 0rem 1.5rem;
    margin-left: 2rem;
	white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-pics{
    height: 60px;
    width: auto;
    padding-left: 2rem;
}
.chat-pic{
    height: 55px;
    width: auto;
   margin: 0 1.2rem 2rem 1.2rem;
}
.chat-box-txt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 1rem 2rem;
}
.chat-timestamp-size{
    font-size: 15px;
    line-height: 22px;
}
.chat-box-white{
    width: 366px;
height: 70px;
left: 827px;
background: #FFFFFF;
border-radius: 30px 30px 30px 0px;
align-items: center;
}
.chat-box-blue{
    width: 366px;
height: 70px;
left: 827px;
background: #6A6D9E;
border-radius: 30px 30px 0px 30px;
align-items: center;
}
.chat-col{
    flex-direction: column;
}
.response-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.price-sec{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-card-txt{
    font-weight: 400;
font-size: 40px;
line-height: 60px;
text-align: center;
color: #000000;
}

.blue-mid-txt{
font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #554DDE;
padding-right: 0.8rem;
}
.red-mid-txt{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #F44E77;
}
.mid-blk-txt{
    font-weight: 400;
font-size: 1.5rem;
line-height: 2.25rem;
color: #16194F;
padding: 1rem 0;
}
.price-card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 2rem;
}
.price-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 430px;
    height: 1131px;
    background: #FFFFFF;
    border: 0.5px solid #CAD6F1;
    box-shadow: 0px 25px 50px rgba(22, 25, 79, 0.05);
    border-radius: 50px;
   }
.center-col{
    justify-content: center;
}
.credit-card-small{
    height: 200px;
    width: 350px;
}
.white-button{
    width: 170px;
height: 54px;
border: 1.5px solid #16194F;
border-radius: 20px;
padding: 1rem 2.5rem;
}
.list-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 85%;
}
.checked-list> li{
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.6rem;
padding: 0.5rem 0;
color: #000;
}
.checked-list{
    list-style-image: url("Check-icon\ 1.png");
}
.unchecked-list> li{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 0.5rem 0;
    color: #B7B7B7;
    }
.unchecked-list{
    list-style-image: url("Check-icon\ 2.png");
}
.price-card-content > .small-blue-txt{
text-align: center;
}
.faq-subtitle{
    font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 2.1rem;
text-align: center;
color: #6A6D9E;
width: 55%;
padding: 1.2rem 0 4rem 0;
}
.faq-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.faq-block{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
}
.faq-txt{
font-style: normal;
font-weight: 700;
font-size: 1.5rem;
line-height: 2.1rem;
color: #16194F;
padding: 1.9rem;
}
.faq-plus{
    height: 2rem;
    width: 2rem;
    align-self: center;
}
.footer-section{
    display: flex;
    flex-direction: row;
    background-color: #DCE2F0;
    padding: 6rem 0;
   max-width: 1440px;
   width: 100%;
  justify-content: space-around;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
.grid-item {
    text-align: center;
    padding: 1.6rem 3rem;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1.2rem;
line-height: 2.1rem;
color: #16194F;
}
.footer-txt{
   width: 355px;
   padding: 0;
}
.foot-logo-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.foot-logo-container > img{
    width: 80px;
    height: 85px;
}